/*轮播背景图*/
.slideshow{
	background: url(../img/banner.jpg) no-repeat center center;
	height: 464px;
	width: 100%;
	position: relative;
}
/*圆点*/
.slideshow ul{
	width: 120px;
	height: 12px;
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -60px;
}
.slideshow ul li{
	width: 12px;
	height: 12px;
	background: #fdde90;
	float: left;
	border-radius: 50%;
	margin-right: 12px;
	cursor: pointer;
}
.slideshow ul .slideshow_li{
	background: white;
}
